.grid {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    background-color: black;
    gap: 1px;
    width: 459px;
    height: 459px;
    padding-left: 1px;
    padding-top: 1px;
    margin-top: 50px;
}

.cell {
    background-color: white;
    height: 50px;
    width: 50px;
}

.cell.black {
    background-color: black;
}